{% extends "../base.html" %}

{% load mathfilters %}
{% block css_link %}
<link href="/assets/css/board.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
<div id="board">
	<form id="search_form" action="/board/search" method="post">{% csrf_token %}
		<input type="text" id="kwd" name="kwd" value="">
		<input type="submit" value="찾기">
	</form>
	<table class="tbl-ex">
		<tr>
			<th>번호</th>
			<th>제목</th>
			<th>글쓴이</th>
			<th>조회수</th>
			<th>작성일</th>
			<th>&nbsp;</th>
		</tr>
		{% for board in board_list %}
		<tr>
			<td>{{board_list.count | add:1 | sub:forloop.counter}}</td>
			<td><a {% if request.session.authuser is not None %}
				   href="/board/view?id={{board.id}}"
				   {% endif %}>{{board.title}}</a></td>
			<td>{{board.user.name}}</td>
			<td>{{board.hit}}</td>
			<td>{{board.regdate|date:'Y-m-d H:i:s'}}</td>
			{% if request.session.authuser is not None %}
			<td><a href="/board/delete?id={{board.id}}&user={{board.user.id}}" class="del"> 삭제 </a></td>
			{% endif %}
		</tr>
		{% endfor %}
	</table>
	<br>
	{% if request.session.authuser is not None %}
	<div class="bottom">
		<a href="/board/writeform" id="new-book">글쓰기</a>
	</div>
	{% endif %}
</div>
{%endblock%}